#!/bin/bash

. /home/{{ glassfish_user }}/.bash_profile

PASSWORDFILE={{ gf_new_password_dir }}
ADMIN_USER={{ gf_asadmin_user }}
DOMAIN_NAME={{ gf_domain_name }}

asadmin --user $ADMIN_USER --passwordfile $PASSWORDFILE change-admin-password --domain_name $DOMAIN_NAME